/*for everything*/
html {
  margin: 0;
  padding: 0;
  width: 100%;
}

/*for text */

.img1 {
  width: 200px;
  height: 150px;
  border-radius: 8px;
}

.headImage {
  max-width: 100%;
  max-height: 200px;
  object-fit: cover;
}

.div1 {
  padding-top: 50px;
  border-style: solid;
  border-width: 5px;
  border-radius: 8px;
}

body {
  text-align: center;
  font-family: "Ubuntu", "Lucida Grande", monospace;
  font-style: normal;
  background-color: white;
  /*background-image: linear-gradient(to bottom, #e8c9e7, white);*/
  color: #b6a6e6;
}


h1 {
  text-align: center;
  text-shadow: 5px 5px 10px #F4CDD8;
  font-family: "Iceland", "Playfair Display", serif;
  font-style: normal;
  font-weight: 600;
  font-size: 80px;
  margin: 30px 0;
}

.header1 {
  display: flex;
  position: relative;
  z-index: 5;
  justify-content: center;
  align-items: center;
}

h2 {
  text-align: center;
  font-family: "Iceland", "Playfair Display", serif;
  font-style: normal;
  padding: 5px;
  background: #170A1F;
  border-radius: 100px;
}

h3 {
  text-align: center;
  font-family: "Iceland", serif;
  font-style: normal;
  padding: 5px;
}

p {
  margin: 15px;
}

/*for footer*/

footer {
  background: #a37bdaff;
  padding: 10px;
}

/* for table */

table, th, td{
  border: 1px solid;
  margin: 30px;
  max-width: 90%;
  border-collapse: collapse;
}

td {
  padding:8px;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #eDE0F5;
}

tr:hover {
  background-color: #ecd7f9;
}

table {
  border-collapse: collapse;
  width: 100%
}

/*for nav bar*/

ul {
  position: fixed;
  z-index:1000;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #a37bdaff;
  list-style-type: none;
  text-align: right;
  overflow: hidden;
  line-height: 50px;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.2); 
}

li {
  display: inline-block;
  padding: 8px 10px;
  text-align: center;
}

li a{
  text-decoration: none;
}

li:hover {
  background-color: #F9F2F8
}

/*for heart*/
.heart {
  font-size: 15px;
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
}

.beat {
  position: relative;
  animation: beat 3s linear infinite;
}

.thump {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  animation: thump 3s linear infinite;
}

@keyframes beat {
  0% {
    transform: scale(1);
  }
  14% {
    transform: scale(0.9);
  }
  21% {
    transform: scale(1.1) skew(0.004turn)
  }
  28% {
    transform: scale(1) skew(0.008turn);
  }
  35% {
    transform: scale(1) skew(0)
  }
}

@keyframes thump {
  0% {
    opacity: 0.5;
    transform: scale(1);
  }
  14% {
    opacity: 0.4;
    transform: scale(0.8);
  }
  21% {
    opacity: 0.4;
    transform: scale(1.1);
  }
  100% {
    opacity: 0;
    transform: scale(3);
  }
}

/*logo at top*/
.hackclub-logo {
    z-index: 1001;
    position: relative;
    max-width: 50px;
    max-height: 50px;
    margin-left: 0%;
    margin-top: 0%;
    background-color: transparent;
    float: left;
}

ul::after {
  content: "";
  display: table;
  clear: both;
}


/* reference color palette 
https://coolors.co/ffffff-b6a6e6-fee7ce-f4cdd8-ede0f5*/