/*to consider: how to make different images different sizes, add logos, make side bar, etc. also fancy animations, etc. */

/*for text */

.img1 {
  width: 200px;
  height: 150px;
  border-radius: 8px;
}

.headImage {
  max-width: 100%;
  height: auto;
}

body {
  text-align: center;
  font-family: "Spectral", sans-serif;
  font-style: normal;
  background: #d4afea;
  color: #ffffff;
}


h1 {
  text-align: center;
  font-family: "Karla", serif;
  font-style: normal;
  font-weight: 200;
}

h2 {
  text-align: center;
  font-family: "Karla", serif;
  font-style: normal;
}

/* for table */

table, th, td{
  border: 1px solid;
}

td {
  padding:8px;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #c7a4e5;
}

tr:hover {
  background-color: #a180da;
}

table {
  border-collapse: collapse;
  width = 100%
}