/*to consider: how to make different images different sizes, add logos, make side bar, etc. also fancy animations, etc. */

/*ideas: sunset colors! https://coolors.co/palette/ffb5a7-fcd5ce-f8edeb-f9dcc4-fec89a */

img {
  width: 200px;
  height: 150px;
}


body {
  text-align: center;
  font-family: "Spectral", sans-serif;
  font-style: normal;
  background: #d4afea;
  color: #ffffff;
}


h1 {
  text-align: center;
  font-family: "Karla", serif;
  font-style: normal;
  font-weight: 200;
}

h2 {
  text-align: center;
  font-family: "Karla", serif;
  font-style: normal;
  
}